/*
Color scheme

#3f7cac - lightBlue - filter
#79b473 - green
#070707 - black
#3f3047 - purple - text right side
#3b0d11 - red
*/

body {
	/*background: url("../img/bg.jpg"); */
	/*background-size: cover;*/
}

.container {
width: 90%;
padding: 0px;
}

div.page-header h1 {
	font-family: 'Archivo Narrow', sans-serif;
	font-size: 45px;
}

/* SVG
  /$$$$$$  /$$    /$$  /$$$$$$ 
 /$$__  $$| $$   | $$ /$$__  $$
| $$  \__/| $$   | $$| $$  \__/
|  $$$$$$ |  $$ / $$/| $$ /$$$$
 \____  $$ \  $$ $$/ | $$|_  $$
 /$$  \ $$  \  $$$/  | $$  \ $$
|  $$$$$$/   \  $/   |  $$$$$$/
 \______/     \_/     \______/ 
*/

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width : 1px;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}

#divSvg {
	margin-top: 10%;
	background-color: rgba(256,256,256,0.4);
}

.academicPeriodsText > text ,.professionalPeriodsText > text {
	font-size : 14px;
	fill : black;
	stroke : black;
}

g.skills > g {
	visibility: hidden;
}
/* Right
 /$$$$$$$  /$$$$$$  /$$$$$$  /$$   /$$ /$$$$$$$$
| $$__  $$|_  $$_/ /$$__  $$| $$  | $$|__  $$__/
| $$  \ $$  | $$  | $$  \__/| $$  | $$   | $$   
| $$$$$$$/  | $$  | $$ /$$$$| $$$$$$$$   | $$   
| $$__  $$  | $$  | $$|_  $$| $$__  $$   | $$   
| $$  \ $$  | $$  | $$  \ $$| $$  | $$   | $$   
| $$  | $$ /$$$$$$|  $$$$$$/| $$  | $$   | $$   
|__/  |__/|______/ \______/ |__/  |__/   |__/   
*/

.page-details {
	height: 80%;
	overflow: auto;
}

/*div.panel {
	margin-top: 100px;
}

.label {
	padding: 15px;
	margin : 5px; 
}

div.btn-group span:nth-child(2) {
	margin-top: 20px;
}*/

/*.filters {
	cursor: pointer;
	display: block;
	font-size: 75%;
	font-weight: bold;
	line-height: 1;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: .25em;
	padding: 15px;
	margin : 5px; 
	background-color: white;
	color: #3f7cac;
	border: solid thin #3f7cac;
}

.filters.active {
	background-color: #3f7cac;
	color: white;
}*/


/* Left Side
 /$$       /$$$$$$$$ /$$$$$$$$ /$$$$$$$$
| $$      | $$_____/| $$_____/|__  $$__/
| $$      | $$      | $$         | $$   
| $$      | $$$$$   | $$$$$      | $$   
| $$      | $$__/   | $$__/      | $$   
| $$      | $$      | $$         | $$   
| $$$$$$$$| $$$$$$$$| $$         | $$   
|________/|________/|__/         |__/   
*/
.resumeTextBlock {
	/*margin-top: 40px;*/
	transform : translate("0px","40px");
	padding-right: 0px;
	height: 950px;
	overflow-y: auto;
}

div.selectable{
  cursor: pointer;
  color: black;
  border-radius: 10px;
  padding: 3px 10px	;
  opacity: 1;
}

.resumeNavbar {
	width: 100%;
    top: 0;
    position: relative;
    border-bottom: thin solid #3f7cac;
}

.navbar-collapse{
	padding-left: 0px;
}

#ulResumeTextNav li.active {
	border-bottom: thick solid #3f7cac;
}

.resume-text {
	margin-top: 10px;
	height: 80%;
	overflow-y: auto;
}


/*
Text inside the resume text block
*/
section article h4 {
	text-transform: capitalize;
	font-size: 35px;
	/*line-height: 21px;*/
	margin-bottom: 5px;
	font-family: "Mate";
	color: #3f3047;
	font-weight: 400;
	font-style: normal;
}

section article p {
	 font-size: 15px;
	 /*line-height: 26px;*/
	 margin-bottom: 10px;
}

section article p.pullquote {
	 font-size: 14px;
	 /*line-height: 26px;*/
	 margin-left: 15px;
	 padding-left: 5px;
	 border-width: 0px 0px 0px 3px;
	 border-style: solid;
	 font-family: "Lato";
	 font-weight: 300;
	 font-style: italic;
}

section article p.intro {
	 /*margin-bottom: 35px;*/
	 font-size: 21px;
	 color : #E0E7AB;
	 line-height: 28px;
	 font-family: "Anaheim";
	 font-weight: 400;
	 font-style: normal;
}

ul.skillFilters { margin-top: 20px; display: inline-block;}

ul.skillFilters > li{
	float: left;
	margin-left: 5px;
	margin-top: 3px;
	padding: 3px;
	list-style: none;
	cursor: pointer;
}